<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css.css')}}" />
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="{{ url_for('static', filename='script.js')}}"></script>

</head>

<body>
    <div class="row">
        <div class="col-md-10 mr-auto ml-auto">
            <h1 id="test">Dentrice AI ChatBot</h1>
            <form id="typingForm"></form>
            <form id="clickingForm"></form>
            <div id="chatbox">
                <p class="botText">
                    <span>Hi, I'm Dentrice, an EAE bot.<br>
                        You can start by asking:<br>
                        - Give me the recommended students for DIT<br>
                        - Give me the list of students who knows Python<br>
                        - Give me the students who mentioned Python (a word after mentioned)</span>
                </p>
                <div id="loader" class="botText" hidden></div>
            </div>
            <!-- The Modal -->
            <div id="myModal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p id="model-text">Some text in the Modal..</p>
                </div>

            </div>
            <div id="userInput" class="row">
                <div class="col-md-10">
                    <input id="textvrec" type="hidden" form="clickingForm">
                    <input id="textvtop" type="hidden" form="clickingForm">
                    <input id="textvcou" type="hidden" form="clickingForm">
                    <input id="textvcho" type="hidden" form="clickingForm">
                    <input id="textvcom" type="hidden" form="clickingForm">
                    <input id="text" type="text" name="msg" placeholder="Message" class="form-control" form="typingForm">
                    <button type="submit" id="send" class="btn btn-warning" form="typingForm">Send</button>
                </div>
            </div>
        </div>
</div>

</body>

</html>